.body {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(43, 43, 243, 0.667), rgba(218, 6, 246, 0.667))
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input {
  flex: 3;
  padding: 15px;
  color: rgb(4, 3, 4);
  border-radius: 10px;
  width: 1%;
}

.button {
  padding: 15px 20px;
  background-color: #0070f3;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.messageList {
  list-style-type: none;
  padding: 5px;
}

.message {
  margin-bottom: 5px;
}